<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <script type="text/javascript" src="scripts/main.js"></script>
</head>
<body>

<div ng-app="">
    <input type="text" ng-model="data.message">
    <h1>{{data.message}}</h1>

    <div ng-controller="FirstCtrl">
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>
    </div>
    <div ng-controller="SecondCtrl">
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>
    </div>
</div>


<script type="text/javascript" src="scripts/angular.js"></script>
</body>
</html>